@import '../../styles/contants.scss';

.wrapper{
    background: white;
    overflow: hidden;
    .container{
        flex-direction: column;
        gap: 2rem;
       
        .heading{
            width: 100%;
            justify-content: space-between;
            align-items: flex-end;
            flex-wrap: wrap; 
            >:nth-child(2)
            {
                text-decoration: underline;
                color: orange;
                cursor: pointer;
            }
        }    
        
        .showCase{
            width: 100%;
<<<<<<< HEAD
            gap: 2.5rem;
=======
            gap: 0.5rem;
>>>>>>> f5bd149420fb6b29e80b030378302e69354f61ba
            justify-content: space-around;
            flex-wrap: wrap;
           justify-content: center;
           justify-items: center;
            .Case{
            width: 70%;
            gap: 0.5rem;
            flex-direction: column;
            justify-items: center;
           
            >a{
                @media (max-width: $sm) {
                    margin-right: 15rem;
                }
                width: 47%;
                color: coral;
                margin-left: 15rem;
                font-weight: bold;
            }

            >p{
                font-weight: bold;
                @media (max-width: $sm){
              width: 150%;
            }
        }

            >img{
                 
              @media (max-width: $sm) {
                    width: 150%;
                }
                border-radius: 20px;
              
                max-height: 18rem;
                box-shadow: 0px 21px 13px rgba(0, 0, 0, 13%);
                cursor: pointer;
            }
          
            }
    
            >img{
             

                @media (max-width: $sm) {
                    width: 100%;
                }
                border-radius: 20px;
                max-width: 25%;
                max-height: 18rem;
                box-shadow: 0px 21px 13px rgba(0, 0, 0, 13%);
                cursor: pointer;
            }
          
           a{
            width: 10%;
            margin-left: 1rem;
           }
            
        }
    }
}
